asgiref==3.2.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
Django==2.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.6.5
parsel==1.5.2
Pillow==6.2.1
Protego==0.1.15
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pytesseract==0.3.0
pytz==2019.3
pywin32==225
queuelib==1.5.0
requests==2.22.0
Scrapy==1.8.0
selenium==3.141.0
service-identity==18.1.0
simplejson==3.17.0
six==1.13.0
soupsieve==2.0
sqlparse==0.3.0
Twisted==19.10.0
urllib3==1.25.6
w3lib==1.21.0
zope.interface==4.7.1
